body {
    background-color: darkolivegreen;
    color: goldenrod;
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
}
.idUser {
    text-align: center;
    font-size: 2rem;
}
.pobieranie {
    font-size: 50px;
    background-color: darkblue;
    color: gold;
}
.pobieranie:hover {
    background-color: darkmagenta;
    color: orangered;
}
#mainDiva {
    background-color: cornsilk;
    height: 500px;
    width: 500px;
    margin: 50px auto;
    color: red;
    display: none;
}
@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}